extends layout

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js' integrity='sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js' integrity='sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js')
  script.
    function addDarkmodeWidget() {
    new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  title  West-Mec RMS
.container
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      a.navbar-brand(href='/') West-Mec RMS
br
.row
  .col-1-3
    nav(role='navigation')
      #menuToggle
        input(type='checkbox')
        span
        span
        span
        ul#menu
          a(href='#')
            li Info
          a(href='#')
            li Fill Out Form
          a(href='#')
            li Manage Forms
  .col-1-2.middle-box
    br
    h2 POLICE DEPARTMENT REPORT FORM
    br
    form
      .row
        .col-1-4
          .input-group.mb-3
            span#inputGroup-sizing-default.input-group-text I.R #
            input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
        .col-1-4
          .input-group.mb-3
            span#inputGroup-sizing-default.input-group-text Occurance Date
            input.form-control(type='date' aria-label='Text input with dropdown button')
        .col-1-4
          .input-group.mb-3
            span#inputGroup-sizing-default.input-group-text Occurance time
            input.form-control(type='time' aria-label='Text input with dropdown button')
        .col-1-4
          .input-group.mb-3
            label.input-group-text(for='inputGroupSelect01') Incident type
            select#inputGroupSelect01.form-select
              option(selected='') Choose...
              option(value='1')
              option(value='2')
              option(value='3')
      .input-group.mb-3
        label.input-group-text(for='inputGroupSelect01') Gender
        select#inputGroupSelect01.form-select
          option(selected='') Choose...
          option#male.Genders(value='1') Male
          option#female.Genders(value='2') Female
          option#unkown.Genders(value='3') Unkown
      .input-group.mb-3
        span#inputGroup-sizing-default.input-group-text Location
        input.form-control(type='text' aria-label='Text input with dropdown button')
      .input-group.mb-3
        label.input-group-text(for='inputGroupSelect01') Code
        select#inputGroupSelect01.form-select
          option(selected='') Choose...
          option(value='1')
          option(value='2')
          option(value='3')
      .input-group
        span.input-group-text Last, First, and Middle name
        input#lname.form-control.names(type='text' aria-label='Last name' placeholder='Last')
        input#fname.form-control.names(type='text' aria-label='First name' placeholder='First')
        input#mname.form-control.names(type='text' aria-label='Middle name' placeholder='Middle')
      br
      .input-group.mb-3
        span#inputGroup-sizing-default.input-group-text SSN or DL #
        input.form-control(type='text')
      .input-group.mb-3
        label.input-group-text(for='inputGroupSelect01') Race
        select#inputGroupSelect01.form-select
          option(selected='') Choose...
          option#white.race(value='1') W
          option#black.race(value='2') B
          option#hispanic.race(value='3') H
          option#indian.race(value='4') I
          option#asian.race(value='5') A
          option#unknown.race(value='6') U
      .input-group.mb-3
        span#inputGroup-sizing-default.input-group-text Age
        input.form-control(type='number' max='130' min='0')
      .input-group.mb-3
        span#inputGroup-sizing-default.input-group-text Height
        input.form-control(type='number' max='15' min='0')
        input.form-control(type='number' max='10' min='0')
      .input-group.mb-3
        span#inputGroup-sizing-default.input-group-text Weight
        input.form-control(type='number' max='800' min='0')
      .input-group.mb-3
        label.input-group-text(for='inputGroupSelect01') Hair
        select#inputGroupSelect01.form-select
          option(selected='') Choose...
          option#white.race(value='1')
          option#black.race(value='2')
          option#hispanic.race(value='3')
          option#indian.race(value='4')
          option#asian.race(value='5')
          option#unknown.race(value='6')
      .input-group.mb-3
        label.input-group-text(for='inputGroupSelect01') Eye
        select#inputGroupSelect01.form-select
          option(selected='') Choose...
          option(value='1')
          option(value='2')
          option(value='3')
          option(value='4')
          option(value='5')
          option(value='6')
      .input-group.mb-3
        span#inputGroup-sizing-default.input-group-text Address
        input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
      .input-group.mb-3
        span#inputGroup-sizing-default.input-group-text Phone
        input.form-control(type='tel' placeholder='123-456-7890' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
      .form-floating
        textarea#floatingTextarea2.form-control(placeholder='Leave a comment here' style='height: 100px')
        label(for='floatingTextarea2') Summary
      br
      .row
        .col-1-2
          .input-group.mb-3
            span#inputGroup-sizing-default.input-group-text Officer Name
            input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
        .col-1-2
          .input-group.mb-3
            span#inputGroup-sizing-default.input-group-text Serial
            input.form-control(type='text' placeholder='#' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
      h3 Vehicle Information
      .input-group.mb-3
        span#inputGroup-sizing-default.input-group-text Plate #
        input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
      .input-group.mb-3
        span#inputGroup-sizing-default.input-group-text Vin #
        input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
      .input-group.mb-3
        label.input-group-text(for='inputGroupSelect01') Color
        select#inputGroupSelect01.form-select
          option(selected='') Choose...
          option(value='1')
          option(value='2')
          option(value='3')
          option(value='4')
          option(value='5')
          option(value='6')
      .input-group.mb-3
        span#inputGroup-sizing-default.input-group-text Year
        input.form-control(type='number' placeholder='YYYY' max='2100' min='1990')
      .input-group.mb-3
        label.input-group-text(for='inputGroupSelect01') Make
        select#inputGroupSelect01.form-select
          option(selected='') Choose...
          option(value='1')
          option(value='2')
          option(value='3')
          option(value='4')
          option(value='5')
          option(value='6')
      .input-group.mb-3
        label.input-group-text(for='inputGroupSelect01') Model
        select#inputGroupSelect01.form-select
          option(selected='') Choose...
          option(value='1')
          option(value='2')
          option(value='3')
          option(value='4')
          option(value='5')
          option(value='6')
      .input-group.mb-3
        label.input-group-text(for='inputGroupSelect01') Title
        select#inputGroupSelect01.form-select
          option(selected='') Choose...
          option(value='1') Clean
          option(value='2') Salvage
          option(value='3') Rebuilt
  .col-1-3
  br
br
