extends layout 

block content
  body
    .col-1-2.info
      h1 West-Mec 2021 RMS
      br
      .row
        .col-1-1.info
          p
            | As one could see to their left, a nav icon is displayed. 
            | When pressed upon the selected three options will be available to be chosen. 
            | First option is our Info/Main page where we display this current guide to our RMS. 
            | Second, we have our Fill Out Form page, where we have the form of our RMS to be filled out and registered to the system. 
            | Third, the Manage Forms option is available to be selected where one could see all made forms. 
            | To the upper right there is an Add Form button that redirects our users to fill out a new form to the system. 
            | Towards the right of the name of the form, there are two options for the user to either edit or delete a form made.
    .col-1-3
  footer#footer All rights reserved to &#169;Brandon And Gael
