extends layout 

block content
  .col-1-2.middle-box
    br
    .container
      .table-wrapper
        .table-title
          .row
            .col-sm-8
              h2 Recent Forms
            .col-sm-4
              a(href='/catalog/create/forms')
                button.btn.btn-primary(type='button') Add New Form
        table.table.table-bordered
          thead
            tr
              th Name
              th Actions
          tbody
            tr
              td Name Goes here
              td
                button(type='button')
                  a.edit(href='' title='Edit' data-toggle='tooltip')
                    i.material-icons &#xE254;
                button(type='button')
                  a.delete(href='' title='Delete' data-toggle='tooltip')
                    i.material-icons &#xE872;


  .col-1-3