extends layout 

block content
  .col-1-2.middle-box
    br
    .container
      .table-wrapper
        .table-title
          .row
            .col-sm-8
              h2 Recent Forms
            .col-sm-4
              a(href='form.html')
                button.btn.btn-primary(type='button') Add New Form
        table.table.table-bordered
          thead
            tr
              th Name
              th Actions
          tbody
            tr
              td Name Goes here
              td
                a.edit(title='Edit' data-toggle='tooltip')
                  i.material-icons &#xE254;
                a.delete(title='Delete' data-toggle='tooltip')
                  i.material-icons &#xE872;
  .col-1-3